@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Add A New Client</h3>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input class="btn btn-outline-dark" type="submit" value="Add Client"/>
}

<button class="btn btn-outline-dark">@Html.ActionLink("Back to Stylist List", "Index", "Stylist")</button>